.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.Header {
  margin: 10px;
}

.caught {
  display: none;
}

.only-caught {
  tbody {
    tr {
      display: none;
    }
  }
  & .caught {
    display: table-row;
  }
}
