.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.Header {
  margin: 10px;
}

.Pokedex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.Pokemon {
  border: 1px solid black;
  flex-basis: 15%;
  margin: .4%;

  &.margin-bottom {
    margin-bottom: 50px;
  }

  & img {
    width: 100%;
  }
}
