.BackgroundIcon {
  --width: 90vw;
  --height: calc(var(--width) * 2 / 3);
  --color: rgba(255, 255, 255, 0.3);
  --thickness: 5vw;

  align-items: center;
  border: var(--thickness) solid var(--color);
  border-radius: 40px;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  height: var(--height);
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  right: 0;
  transform: rotate(-15deg);
  width: var(--width);

  &::after {
    bottom: 3px;
    color: var(--color);
    content: 'v2.0.0';
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 7px;
  }

  & > div {
    --height: var(--thickness);

    background-color: var(--color);
    border-radius: var(--thickness);
    height: var(--height);
    margin-left: calc(var(--thickness) * 2);
    position: relative;
    width: 60%;

    &::before {
      background-color: var(--color);
      border-radius: 50%;
      content: '';
      height: var(--height);
      left: calc(var(--thickness) * -2);
      position: absolute;
      top: 0;
      width: var(--height);
    }
  }
}
