.Pokemon {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  transition: transform 0.5s ease;
  width: 100%;

  &.translated {
    transform: translateX(200%);
  }

  & > img {
    align-self: center;
    display: flex;
    height: 25vh;
    justify-content: center;
    position: relative;
  }

  & > main {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    position: relative;

    & > section {
      border-bottom: 3px solid var(--color-grey-dark);
      display: flex;

      &:last-child {
        border-bottom: none;
      }

      & > h1 {
        align-items: center;
        background-color: var(--color-grey);
        display: flex;
        flex: 1;
        font-size: 18px;
        padding: 10px;
        width: 100px;
      }

      & > div {
        display: flex;
        flex: 2;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 10px;

        & > img {
          height: 40px;
          margin-right: 10px;
        }
      }
    }
  }
}
