.Pokedex {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

  & > header,
  & > footer {
    background-color: var(--color-red);
    height: 50vh;
    position: absolute;
    width: 100vw;

    &::after {
      background-color: var(--color-black);
      content: '';
      height: 5px;
      position: absolute;
      width: 100%;
    }
  }

  & > header {
    animation: translate-up 1s ease 1s forwards;
    top: 0;
    z-index: 1;

    &::after {
      bottom: 0;
    }
  }

  & > footer {
    animation: translate-down 1s ease 1s forwards;
    bottom: 0;

    &::after {
      top: 0;
    }
  }
}

.Corner {
  border: 10px solid var(--color-black);
  border-radius: 50%;
  height: var(--size-corner);
  left: calc(var(--size-corner) / -2);
  position: absolute;
  top: calc(var(--size-corner) / -2);
  width: var(--size-corner);

  &.large {
    height: calc(var(--size-corner) * 2);
    left: calc(var(--size-corner) / -1);
    top: calc(var(--size-corner) / -1);
    width: calc(var(--size-corner) * 2);
  }
}

.Pokeball {
  --size: 250px;
  --border: 20px;

  bottom: calc(var(--size) / -2);
  left: calc(50% - var(--size) / 2);
  position: absolute;
  z-index: 1;

  &::after {
    --size: 85%;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    content: '';
    height: var(--size);
    position: absolute;
    right: 15px;
    top: 15px;
    width: var(--size);
  }

  & > div {
    height: calc(var(--size) / 2);
    overflow: hidden;
    position: relative;
    width: var(--size);

    &::before {
      border: var(--border) solid black;
      border-radius: 50%;
      content: "";
      display: block;
      height: calc(var(--size) - var(--border) * 2);
      position: absolute;
      width: calc(var(--size) - var(--border) * 2);
    }

    &::after {
      background-color: var(--color-black);
      content: '';
      height: 2px;
      position: absolute;
      width: 100%;
    }

    &:first-child {
      &::before {
        background-color: var(--color-red);
      }

      &::after {
        bottom: 0;
      }
    }

    &:last-child {
      &::before {
        background-color: var(--color-white);
        bottom: 0;
      }

      &::after {
        top: 0;
      }
    }
  }

  & > main {
    --size: 75px;

    background-color: var(--color-white);
    border: 20px solid var(--color-black);
    border-radius: 50%;
    height: var(--size);
    left: calc(50% - var(--size) / 2);
    position: absolute;
    top: calc(50% - var(--size) / 2);
    width: var(--size);
    z-index: 1;
  }
}
