:root {
  --color-white: white;
  --color-black: black;
  --color-red: #ed1e25;

  --size-corner: 120px;

  font-family: sans-serif;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

h1 {
  margin: 0;
}
