:root {
  --color-white: white;
  --color-black: black;
  --color-red: #ed1e25;
  --color-dark-orange: #f4533b;
  --color-orange: #ee5120;
  --color-light-orange: #f77248;

  --size-corner: 120px;

  font-family: sans-serif;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

h1 {
  margin: 0;
}

@keyframes translate-up {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-100vh);
  }
}
@keyframes translate-down {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(100vh);
  }
}
