.Screen {
  --color-lightblue: #a0ddf0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-lightblue);
}

.Icon {
  --width: 90vw;
  --height: calc(var(--width) * 2 / 3);
  --color: rgba(255, 255, 255, .3);
  --thickness: 5vw;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  width: var(--width);
  height: var(--height);
  border: var(--thickness) solid var(--color);
  margin: 0 auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-15deg);

  &::after {
    content: 'v2.0.0';
    position: absolute;
    bottom: 3px;
    right: 7px;
    color: var(--color);
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
  }

  & > div {
    --height: var(--thickness);
    position: relative;
    width: 60%;
    height: var(--height);
    background-color: var(--color);
    margin-left: calc(var(--thickness) * 2);
    border-radius: var(--thickness);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(var(--thickness) * -2);
      width: var(--height);
      height: var(--height);
      background-color: var(--color);
      border-radius: 50%;
    }
  }
}
