:root {
  --color-white: white;
  --color-grey: #dbdbdb;
  --color-grey-dark: #f2f2f2;
  --color-black: black;
  --color-red: #ed1e25;
  --color-dark-orange: #f4533b;
  --color-orange: #ee5120;
  --color-light-orange: #f77248;
  --type-bug-background: #1c4b27;
  --type-bug-text: #3b9950;

  font-family: sans-serif;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

h1 {
  margin: 0;
}
